page-my-space {
    .margin-bottom {
        padding-bottom: 100px;
        margin-bottom: 100px;
    }
    .clear {
        clear: both;
    }
    .panel-control-details {
        font-family: "Montserrat Regular";
        color: color($colors, light-black);
        font-size: 15px;
        text-align: center;
        text-transform: capitalize;
    }
    .icon-myspace {
        margin-top: 10px;
    }
    .panel-control {
        width: 80px;
    }
    .child-container {
        width: 320px;
        position: relative;
        margin: auto;
        text-align: center;
        margin-top: 15px;
    }
    .panel-control {
        color: color($colors, primary);
        vertical-align: top;
    }
    .panel-heading {
        font-family: "Montserrat Medium";
        font-size: 20px;
        color: color($colors, light-black);
        color: color($colors, light-black);
        font-weight: bold;
        display: block;
        text-align: center;
    }
    .second-panel-heading {
        font-family: "Montserrat Medium";
        font-size: 20px;
        color: color($colors, primary);
        font-weight: bold;
    }
    .light-container {
        background: color($colors, white-color);
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 100%;
        height: auto;
        border-radius: 2px;
    }
    // ----------------------------------------------------------------------------------
    // Page Styling
    // ----------------------------------------------------------------------------------
    h5 {
        font-weight: 600;
    }
    .scroll-content {
        display: block;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
        margin-top: 65px !important;
    }
    .top-grid {
        margin-top: 10px;
    }
    // ----------------------------------------------------------------------------------
    // Buttons
    // ----------------------------------------------------------------------------------
    .button-height {
        height: auto;
        width: 75%;
    }
    .button-add {
        height: 45px;
        width: 30%;
        margin-bottom: 12px;
        margin-top: 12px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .button-account {
        height: 60px;
        border-radius: 20px;
    }
    .button-create {
        height: 50px;
        width: 200px;
        border-radius: 20px;
        .text-button{
            overflow: initial;
        }
    }
    .text-button {
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        font-size: 14px;
        font-weight: 500;
    }
    // ----------------------------------------------------------------------------------
    // Input
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Select
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Item
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // class
    // ----------------------------------------------------------------------------------
    .title-content {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        margin: 0;
    }
    .icon-agenda {
        font-size: 40px;
    }
    .icon-notification {
        width: 30%;
    }
    .groupes {
        font-size: 16px;
        color: color($colors, primary);
    }
    .padding-bottom {
        padding-bottom: 10px;
    }
    .img-add {
        width: 60px;
        height: auto;
    }
    .span-admin {
        display: block;
        position: relative;
        margin: auto;
        background: color($colors, h6-color);
        border-radius: 64px;
        width: 75px;
        z-index: 9999;
        top: 13px;
        color: color($colors, white-color);
        font-size: 12px;
    }
    .span-no-admin {
        margin-top: 15px;
    }
    .registred-new-user {
        position: absolute;
        padding: 20px;
        background: color($colors, white-color);
        z-index: 999;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        //height: 280px;
        width: 280px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: $medium;
        text-align: center;
        .close-btn {
            float: right;
        }
        .app-title {
            font-size: 24px;
            color: color($colors, primary);
            width: 100%;
        }
        .title-app {
            font-size: 23px;
            color: color($colors, primary);
            width: 100%;
        }
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        top: 0;
        left: 0;
    }
    .margin-bootom {
        margin-bottom: 85px;
    }
    .icon-button {
        font-size: 30px;
    }
    .text-align-calender {
        text-align: center;
    }
    .text-align-notification {
        text-align: center;
    }
    .myspaceIcone {
        position: relative;
    }
    .logout {
        height: auto !important;
    }
    .block-image-hidden {
        width: 15%;
    }
    .block-name-help {
        width: 55%;
        font-weight: 400;
        font-size: 16px;
    }
    .block-name{
        font-weight: 400;
        font-size: 14px;
        max-width: 60% !important;
        margin: auto !important;
        overflow: -webkit-paged-x;
    }
    // class mobile
    // ----------------------------------------------------------------------------------
    @media (max-width: 1022px) {
        .notifications-mySpace-2 {
            background: color($colors, danger);
            border-radius: 20px;
            color: color($colors, white-color);
            font-size: 8px;
            padding: 3px;
            text-align: center;
            vertical-align: sub;
            position: absolute;
            right: 22%;
            width: 15px;
            height: 15px;
            z-index: 9999;
            margin-top: 20px;
        }
        .pos {
            position: absolute;
            right: 0;
            top: 30px;
        }
        .button-white {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            width: 250px;
            height: 45px;
        }
        .buttons-whites {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            width: 100%;
        }
        .icon-setting {
            float: right;
        }
        .notifications-mySpace {
            background: color($colors, danger);
            border-radius: 20px;
            color: color($colors, white-color);
            font-size: 8px;
            padding: 3px;
            text-align: center;
            vertical-align: sub;
            position: absolute;
            top: 0;
            left: 12px;
            width: 15px;
            height: 15px;
            z-index: 9999;
        }
    }
    // class desktop
    // ----------------------------------------------------------------------------------
    @media (min-width: 1023px) {
        .notifications-mySpace-2 {
            background: color($colors, danger);
            border-radius: 20px;
            color: color($colors, white-color);
            font-size: 8px;
            padding: 3px;
            text-align: center;
            vertical-align: sub;
            position: absolute;
            right: 160px;
            width: 15px;
            height: 15px;
            z-index: 9999;
            right: 22%;
            margin-top:20px;
        }
        .pos {
            position: absolute;
            right: 10px;
            top: 30px;
        }
        .button-white {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            width: 250px;
        }
        .buttons-whites {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            width: 100%;
        }
        .button-whites {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
            width: 150px;
        }
        .icon-setting {
            padding-left: 20px;
        }
        .centre-desktop {
            width: 40%;
            margin: auto;
        }
        .button-height {
            height: auto;
            width: 70%;
        }
        .registred-new-user {
            top: 130px;
        }
        .groupes {
            font-weight: 700;
        }
        .text-align-calender {
            text-align: right;
        }
        .text-align-notification {
            text-align: left;
        }
        .p-button {
            font-weight: 600;
        }
        .mycalendar-button,
        .mycalendar-text {
            margin-left: 0;
        }
        .notification-button,
        .notification-text {
            margin-right: 0;
        }
        .notifications-mySpace {
            background: color($colors, danger);
            border-radius: 20px;
            color: color($colors, white-color);
            font-size: 8px;
            padding: 3px;
            text-align: center;
            vertical-align: sub;
            position: absolute;
            top: 16px;
            right: 28px;
            width: 15px;
            height: 15px;
        }
    }
}