page-detail-article {
    // ----------------------------------------------------------------------------------
    // Page Styling
    // ----------------------------------------------------------------------------------
    .footer-item-content {
        //   margin-top: 10%;
    }
    .footer {
        height: 20% !important;
    }
    .footer-content {
        margin-top: 0;
    }
    ion-col.icon-right{
        text-align: right !important;
        margin-right: 50px;
    }
    .div-title {
        font-family: "Montserrat Medium",serif;
        color: #4d4d4d;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0;
    }
    // ----------------------------------------------------------------------------------
    // Buttons
    // ----------------------------------------------------------------------------------
    .button-comment {
        width: 60%;
    }
    .bt-comm {
        margin-top: 7px;
        margin-left: 0;
        margin-right: 0;
    }
    .participantsNbre{
         color: color($colors, primary);
    }

    // ----------------------------------------------------------------------------------
    // Input
    // ----------------------------------------------------------------------------------
    textarea {
        overflow: auto;
        height: auto;
        font: inherit;
        color: inherit;
        width: 80%;
        border-radius: 64px;
        background: color($colors, grey-color);
        vertical-align: initial;
        padding-left: 7px;
        padding-top: 6px;
        color: color($colors, p-color);
        &:focus {
            color: color($colors, light-black);
        }
        border: none;
    }
    // ----------------------------------------------------------------------------------
    // Select
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Item
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // class
    // ----------------------------------------------------------------------------------
    .div-center {
        padding-top: 30px;
    }
    .icon-heart {
        padding-right: 0.3em;
    }
    .icon-comm {
        font-size: 2.5em;
        padding-right: 0;
        padding-left: 0.3em;
    }
    .title-comment {
        font-size: 14px;
        font-weight: 600;
    }
    ion-card-content {
        padding-bottom: 0 !important;
    }
    .icon-agenda {
        font-size: 30px;
    }
    .icon-close {
        margin-left: 10px;
    }
    .icon-more {
        font-size: 30px;
        padding-right: 10px;
    }
    .back {
        padding-top: 15px;
    }
    .margin-bottom {
        margin-bottom: 30px;
    }
    ion-slide.swiper-slide {
        left: 25%;
        position: initial;
    }
    .csm1 {
        margin-top: 10px;
    }
    .csm2 {
        margin-top: 10px;
    }
    .bordred {
        border-bottom: 1px solid color($colors, dark);
        padding: 5px 0 !important;
        margin: 0px 10px;
    }
    .excerpt {
        font-family: "SourceSansPro Regular";
        font-size: 15px;
        color: color($colors, light-grey);
        margin-bottom: 8px;
        margin-top: 8px;
        display: block;
    }
    .icon-img-action {
        border-radius: 2px;
        width: 30px;
        margin-right: 5px;
        margin-left: 5px;
        vertical-align: top;
    }
    .icon-thumb-action {
        border-radius: 2px;
        margin-top: 10px;
    }
    .text-input {
        margin-top: 8px;
        height: 23px;
    }
    .custom-footer {
        @media (max-width: 1022px) {
            background-image: url("../../assets/imgs/footer/mobile-footer.png");
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 25px;
            background-color: color($colors, grey-color);
            background-position: 50% 5px;
        }
        @media (min-width: 1023px) {
            background-image: url("../../assets/imgs/footer/footer.png");
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 25px;
            background-color: color($colors, grey-color);
        }
    }
    .comment-zone-footer {
        width: 250px;
        position: relative;
        background: color($colors, grey-clear);
        border-radius: 20px;
        height: 35px;
        margin: auto;
        display: block;
        border: 1px solid color($colors, grey-simple);
    }
    .text-input {
        margin: 8px 0px;
        height: calc(100% - 16px);
        width: 100%;
        padding: 0px 15px;
    }
    .comment-zone {
        width: 50%;
        position: relative;
        background: #f2f2f2;
        border-radius: 20px;
        height: 80%;
        margin: 0;
        margin-left: 20px;
        display: inline-block;
        border: 1px solid #cccccb;
        vertical-align: sub;
    }
      
    .footer-comment-item > .icon-close {
        padding: 0;
        padding-top: 12px;
        transition: none 0s ease 0s;
        position: relative;
        display: inline-block;
        vertical-align: super;
        min-width: .9em;
        width: 30px;
    }
    .comment-zone-reply {
        width: 50%;
        position: relative;
        background: #f2f2f2;
        border-radius: 20px;
        height: 80%;
        margin: 0;
        margin-left: 20px;
        display: inline-block;
        border: 1px solid #cccccb;
        vertical-align: sub;
    }
    .text-input:focus {
        color: color($colors, h-color);
    }
    .go-to {
        width: 20px;
        position: absolute;
        right: 15px;
        top: 35px;
    }
    .button-small-md,
    button-small-ios,
    button-small-wp {
        height: auto;
        font-size: 1.3rem;
        padding: 0;
    }
    .custom-div {
        padding-top: 5px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 5px;
        margin: 0;
    }
    .comment {
        font-family: "SourceSansPro Regular";
        font-size: 15px;
        color: color($colors, light-grey);
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background: color($colors, white-color);
        padding: 8px 8px;
        border-radius: 20px;
        text-align: left;
        overflow: hidden;
        text-overflow-multiline: ellipsis;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        margin-bottom:20px;
    }
    .answer {
        font-family: "SourceSansPro Regular";
        font-size: 15px;
        color: color($colors, light-grey);
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        background: color($colors, white-color);
        padding: 8px 8px;
        border-radius: 20px;
        text-align: left;
        overflow: hidden;
        text-overflow-multiline: ellipsis;
        position: relative;
        left: 15px;
    }
    .comment-user {
        font-weight: bold;
        text-align: left;
        font-size: 14px;
    }
    .comment-date {
        font-weight: bold;
        text-align: left;
        margin-left: 15px;
        font-size: 12px;
        color: color($colors, dark-grey);
    }
    .delete {
        font-weight: bold;
        font-size: 12px;
        color: color($colors, primary);
    }
    .Full {
        width: 100% !important;
    }
    .buttons-container {
        margin-bottom: 30px;
    }
    .load-comment {
        width: 100%;
        text-align: center;
    }
    .text-comment {
        margin-bottom: 5px;
        margin-top: 5px;
        display: block;
    }
    .icon-comment {
        padding: 0;
        padding-top: 12px;
        transition: none 0s ease 0s;
        position: relative;
        display: inline-block;
        vertical-align: super;
        min-width: .9em;
        width: 30px;
        margin-left: 3px;
    }
    .icon-next{
        width: 35px;
    }
    #fileInput{
        position: absolute;
        opacity: 0;
    }
    // class mobile
    // ----------------------------------------------------------------------------------
    @media (max-width: 1022px) {
        .scroll-content {
            margin-bottom: 60px !important;
        }
        .comment-desktop {
            display: none;
        }
        .desktop {
            display: none;
        }
        .space-comment {
            display: none;
        }
    }
    // class desktop
    // ----------------------------------------------------------------------------------
    @media (min-width: 1023px) {
        .grid-comment {
            margin: 0 !important;
            border: 1.55px solid color($colors, text-color);
            background: color($colors, grey-color);
        }
        .comment-desktop {
            border: 1.55px solid color($colors, text-color);
            border-top: none;
        }
        .padding-comment {
            padding-top: 9px;
        }
        textarea {
            width: 85%;
            display: inline-block;
        }
        .button-comment {
            width: 70%;
        }
        .bt-comm {
            margin: 0;
        }
        .space-comment {
            background: color($colors, white-color);
            position: relative;
            bottom: 0;
            display: block;
            margin-top: 5em;
            padding: 20px;
            margin-bottom: 0;
            border: 1px solid color($colors, grey-simple);
        }
        .custom-div {
            padding-bottom: 0px;
        }
        .footer-desktop {
            display: none;
        }
        .comment-zone-footer {
            width: 66.66666%;
            position: relative;
            background: color($colors, grey-clear);
            border-radius: 20px;
            height: 70px;
            margin: auto;
            display: inline-block;
            border: 1px solid color($colors, grey-simple);
            margin-left: 10px;
        }
        .text-input {
            margin-top: 8px !important;
            width: 100% !important;
            height: 75% !important;
            font-size: 15px !important;
        }
        .next-icon {
            display: inline-block;
            width: 30px;
            margin-top: 8px;
            margin-left: 10px;
            margin-bottom: 8px;
            &.icon-next{
                width: 35px;
            }
        }
        .icon-close{
            margin-top: 15px;
        }
        // class IE
        // ----------------------------------------------------------------------------------
        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            .swiper-slide {
                display: block;
            }
            ion-slide.swiper-slide {
                left: 0%;
            }
            .grid {
                display: block;
            }
            .div-image {
                width: 100%;
            }
        }
    }
    .footer-comment {
        margin: auto;
    }
    .footer-comment-photo {
        margin: auto;
        /*height: 160px;
        bottom: -30px;*/
    }
    .photo-comment {
        width: 50px;
        display: block;
        margin-bottom: 20px;
    }
    .delete-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .photo-bloc {
        position: relative;
        width: 50px;
        margin-left: 35px;
    }
    .delete-icon {
        position: absolute;
        right: -5px;
        top: -10px;
        font-size: 25px;
    }
    .comment-text-style{
        display: -webkit-inline-box;
        margin-bottom: 3%;
    }
    .news-align-center{
        margin-left: -6% !important;
    }
}
