<!--
  Generated template for the PublishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>   
  <ion-row class="header-popin" no-padding>
      <ion-col class="no-padding " text-left>
          <button ion-button clear small type="button" color="primary" no-margin no-padding>
              <ion-icon name="ios-create-outline"></ion-icon>
          </button> 
      </ion-col>
      <ion-col class="no-padding " text-center>
          <h5 class="primary-color title-popin" no-margin>Modifier</h5>
      </ion-col>
      <ion-col class="no-padding " text-right>
          <button ion-button clear small color="primary" icon-start no-margin no-padding (click)="goBack()">
              <img class="icon-heart" src="assets/imgs/icons/image3.png">
          </button>
      </ion-col>
  </ion-row>
</ion-header>

<ion-content padding>
      <ion-col col-12 text-centre class="padding-top">
      <form [formGroup]="fromGroup" >
      <ion-grid class="margin-top-grid padding-horizontal">
        <ion-list>
          <ion-col col-12 text-center no-padding class="margin-top">
            <div>
                <ion-slides (ionSlideDidChange)="slideChanged()" *ngIf="articleDupliquer.imageURL || articleDupliquer.images || articleImgs.photos || articleImgs.articlePhoto"
                    class="image home-card-slides" pager>
                    <ion-slide *ngIf="articleDupliquer.imageURL || articleImgs.articlePhoto">
                        <img src="{{articleImgs.articlePhoto}}" *ngIf="articleImgs.articlePhoto">
                        <img data-src="{{articleDupliquer.imageURL}}" *ngIf="articleDupliquer.imageURL">
                        <ion-icon name="trash" class="icon-delete delete-icon" (click)="deletePhoto(-1, 0);"
                                  *ngIf="articleDupliquer.imageURL || articleImgs.articlePhoto"></ion-icon>
  
                    </ion-slide>
                    <div *ngFor="let img of articleDupliquer.images; let i = index">
                        <ion-slide *ngIf="img.url">
  
                            <img src="{{img.url}}" *ngIf="img.url">
                            <ion-icon name="trash" class="icon-delete delete-icon" (click)="deletePhoto(i, img.id);"
                                      *ngIf="img.url"></ion-icon>
  
                        </ion-slide>
                    </div>
                    <div *ngFor="let item of articleImgs.photos let i = index">
                        <ion-slide *ngIf="item">
  
                            <img src="{{item}}" *ngIf="item">
                            <ion-icon name="trash" class="icon-delete delete-icon" (click)="deletePhoto(i, '');"
                                      *ngIf="item"></ion-icon>
  
                        </ion-slide>
                    </div>
                </ion-slides>
            </div>
            <div *ngIf="articleDupliquer.thirdPhoto;">
                <div>
                    <img src="{{articleDupliquer.thirdPhoto}}" *ngIf="articleDupliquer.thirdPhoto">
                    <ion-icon name="trash" class="icon-delete" (click)="deletePhoto(3);" *ngIf="articleDupliquer.thirdPhoto"></ion-icon>
                </div>
  
            </div>
            <div>
                <div class="center" *ngIf="articleImgs.articleSecondPhoto">
                    <img src="{{articleImgs.articleSecondPhoto}}" class="width-100" *ngIf="articleImgs.articleSecondPhoto">
                    <ion-icon name="trash" class="icon-delete" (click)="deleteEditedPhoto(2);"></ion-icon>
                </div>
                <div class="center" *ngIf="articleImgs.articleThirdPhoto">
                    <img src="{{articleImgs.articleThirdPhoto}}" class="width-100" *ngIf="articleImgs.articleThirdPhoto">
                    <ion-icon name="trash" class="icon-delete" (click)="deleteEditedPhoto(3);"></ion-icon>
                </div>
  
            </div>
            <ion-col col-12 text-center>
                <img class="button-img" src="assets/imgs/icons/button.png" (click)="presentActionSheet()">
            </ion-col>
            <div *ngIf="articleDupliquer.videoFile" style="position: relative;">
                      <img class="button-img" src="assets/imgs/icons/video.png">
                        <ion-icon name="trash" 
                          class="icon-delete delete-icon" 
                          (click)="deleteVideo();"
                            *ngIf="articleDupliquer.videoFile">
                        </ion-icon>
            </div>
            <div *ngIf="articleDupliquer.document" style="position: relative;">
                <img class="button-img" src="assets/imgs/icons/doc-icon.png">
                <ion-icon name="trash"
                          class="icon-delete delete-icon"
                          (click)="deleteDocument();"
                          *ngIf="articleDupliquer.document">
                </ion-icon>
            </div>
            <div>
                <input type="file" id="fileInput" (change)="onFileChange($event)" >
            </div>
        </ion-col>
          <ion-col col-12 text-center class="margin-top select-not-ie">
          <ion-item [class.formError]="(fromGroup.controls['titre'].errors?.required && fromGroup.controls['titre'].touched) ">
            <ion-input type="text" formControlName="titre"  placeholder="Titre" [(ngModel)]="articleDupliquer.title"  required (change)="capitalize($event.target.value, 'title')" ></ion-input>
          </ion-item>

          <div style="width: 90%;
          text-align: right;">
              <button style="position: absolute;
              top: 65%;
              left: 1%;" ion-button clear icon-only (click)="toggled = !toggled"
              [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
              (emojiPickerSelect)="handleSelection($event)">
              😃
              </button>
          </div>


          <div *ngIf="(fromGroup.controls['titre'].errors?.required && fromGroup.controls['titre'].touched) || invalidTitre">
                  <span class="error">Champs titre obligatoire</span>
          </div>
          </ion-col>
          <div style="width: 100%; height: 5px;"></div>

          <ion-col col-12 text-center class="margin-top select-not-ie">
          <ion-item style="padding-top: 15px;" [class.formError]="(fromGroup.controls['description'].errors?.required && fromGroup.controls['description'].touched)  " > 
              <ion-textarea  formControlName="description"  placeholder="Description" required [(ngModel)]="articleDupliquer.description"  (change)="capitalize($event.target.value, 'description')" ></ion-textarea>
          </ion-item>

          <div style="width: 90%;
          text-align: right;">
              <button style="position: absolute;
              top: 75%;
              left: 1%;" ion-button clear icon-only (click)="toggledDes= !toggledDes"
              [(emojiPickerIf)]="toggledDes" [emojiPickerDirection]="'top'"
              (emojiPickerSelect)="handleDescription($event)">
              😃
              </button>
          </div>
          
          <div *ngIf="(fromGroup.controls['description'].errors?.required && fromGroup.controls['description'].touched) || invalidDesc ">
                  <span class="error">Champs description obligatoire</span>
          </div>
          </ion-col>
          <div style="width: 100%; height: 5px;"></div>

          <ion-col col-12 text-center class="margin-top select-not-ie">
            <ion-item [class.formError]="(fromGroup.controls['city'].errors?.required && fromGroup.controls['city'].touched) ">
                <ion-input  required (click)="SelectCity()" formControlName="city"  readonly autocomplete="off" autocorrect="on"  type="text"  placeholder="Ville" [(ngModel)]="articleDupliquer.city" ></ion-input>
            </ion-item>         
            <div *ngIf="(fromGroup.controls['city'].errors?.required && fromGroup.controls['city'].touched) || invalidCity ">
                <span class="error">Champs ville obligatoire</span>
            </div>
          </ion-col>
        </ion-list>   
        <ion-col col-12 text-center>
        <button ion-button color="primary" (click)="saveArticle(fromGroup.invalid)" type="submit" class="button-publish" round>Modifier</button>
        </ion-col>
        </ion-grid>
      </form>
  </ion-col>
</ion-content>