page-map {
    #map {
        margin-top: 20px;
        width: 100%;
        height: 94%;
    }
    .div-center {
        height: 100%;
    }
    ion-avatar img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
    }
    .button-ok {
        font-size: 20px;
        font-weight: 600 !important;
        padding: 0 50px;
        height: 50px;
    }
    .content-page-list {
        width: 100%;
        height: 100%;
    }
    .scroll {
        height: 100%
    }
    .interests {
        position: absolute;
        top: 8rem;
        right: 4rem;
        background: color($colors, white-color);
        width: auto;
        text-align: left;
        padding: 10px;
        font-size: 1.8rem;
        margin: 10px;
    }
    input[type="checkbox"] {
        margin-right: 10px;
        width: 2rem;
        height: 2rem;
    }
    .pro-card img {
        width: 40%;
        float: left;
        margin-left: -16px;
        margin-right: 1rem;
    }
    .title {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .time-open {
        color: color($colors, orange-color);
    }
    .white-background {
        background: color($colors, white-color);
    }
    .toggle-category {
        position: absolute;
        right: 0;
        top: 12rem;
        background: color($colors, white-color);
        width: 40px;
        height: 40px;
        text-align: center;
    }
    .toggle-category .icon {
        font-size: 4rem;
        margin: 0 auto;
        color: color($colors, green-color);
    }
    .hide {
        display: none;
    }
    .map-filter {
        width: 100%;
        margin: auto;
        margin-top: auto;
        margin-top: 0px;
        font-size: 14px;
        margin-left: 20px;
        padding: 10px;
        margin-left: 0;
    }
    .filter-map-button {
        position: relative;
        margin: auto;
        border: 2px solid color($colors, white-color);
        display: block;
        top: 25px;
    }
    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .page-title{
        color: #ffffff;
        font-size: 16px !important;

        text-overflow: clip !important;
        font-weight: 600;
    }
    .mobile-header .toolbar-title {
        color: #ffffff;
        font-size: 16px !important;

        text-overflow: clip !important;
        font-weight: 600;
    }
    @media (min-width: 1023px) {
        .bar-custom{
            margin-top: 3em;
        }
    }
    .block-image {
      width: 100%;
    }
}
