page-space-asso-merch {
    // ----------------------------------------------------------------------------------
    // Page Styling
    // ----------------------------------------------------------------------------------
    .title {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .margin-bottom {
        margin-bottom: 100px;
    }

    .scroll-content {
        margin-top: 90px !important;
    }
    .img-adherent{
        width: 40px;
        margin-bottom: 10px;
    }
    // ----------------------------------------------------------------------------------
    // Buttons
    // ----------------------------------------------------------------------------------
    .button-admin {
        height: 120px;
        width: 50%;
        border-radius: 20px;
        .icon {
            font-size: 40px;
            padding: 10px;
        }
        .img-bene {
            width: 40px;
            margin-bottom: 10px;
        }
        .text-admin {
            color: color($colors, primary);
            margin-top: 15px;
        }
    }
    .button-setting {
        width: 60%;
        height: 50px;
    }
    .block-name {
        font-size: 16px;
    }
    // ----------------------------------------------------------------------------------
    // Input
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Select
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Item
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // class
    // ----------------------------------------------------------------------------------
    .div-admin {
        background: color($colors, h6-color);
        height: 40px;
        width: 60%;
        margin: auto;
        border-radius: 64px;
        padding-bottom: 7px;
        padding-top: 7px;
        padding-left: 15px;
        padding-right: 15px;
        .icon {
            color: color($colors, white-color);
            float: right;
        }
        .admin {
            color: color($colors, white-color);
            font-size: 18px;
            font-weight: 600;
        }
    }
    .admin-margin-top {
        margin-top: 10px;
    }
    // class mobile
    // ----------------------------------------------------------------------------------
    @media (max-width: 1022px) {}
    // class desktop
    // ----------------------------------------------------------------------------------
    @media (min-width: 1023px) {}
}