<!--
  Generated template for the SpaceAssoMerchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mobile-header" *ngIf="appGlobals.token">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <div class="item">
                    <ion-icon name="ios-arrow-back" (click)="goBack()"></ion-icon>
                </div>
            </ion-col>
            <ion-col col-8 text-center class="page-title">

                <ion-title text-capitalize>{{account.name}}</ion-title>
            </ion-col>
            <ion-col col-2>
                <div class="item" text-right>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content>
    <div class="div-left">
        <div text-right class="back"><img src="assets/imgs/icons/1.png" (click)="goBack()"></div>
    </div>
    <div class="div-center">
        <ion-grid class="margin-bottom">

            <ion-row>
                <ion-col col-12 text-center>
                    <div class="div-admin admin-margin-top">
                        <span *ngIf="account.role == 'superadmin' || account.role == 'admin' || (account.type =='community' && account.isAdminPublish)" class="admin">Admin</span>
                        <span *ngIf="account.role == 'member' || (account.type =='community' && !account.isAdminPublish)" class="admin">Adhérent</span>
                        <ion-icon name="md-swap"></ion-icon>
                    </div>
                </ion-col>
                <ion-col col-12 text-center>
                    <button ion-button color="white-color" class="button-white button-admin" text-center icon-start
                        (click)="publicProfile()">
                        <div>
                            <img class="img-bene" src="assets/imgs/icons/publish.png">
                            <div class="text-admin"> Publications</div>
                        </div>
                    </button>
                </ion-col>
                <ion-col col-12 text-center *ngIf="account.role == 'superadmin' || account.role == 'admin'">
                    <button ion-button color="white-color" class="button-white button-admin" (click)="club()"
                        text-center icon-start>
                        <div>
                            <img class="img-adherent" src="assets/imgs/icons/adherent.png">
                            <div class="text-admin"> Adhérents</div>
                        </div>
                    </button>
                </ion-col>
                <ion-col col-12 text-center *ngIf="(account.type == 'association' && (account.role == 'superadmin' || account.role == 'admin')) || (account.type =='community' && account.isAdminPublish)">
                    <button ion-button color="white-color" class="button-white button-admin" text-center icon-start
                        (click)="volunteers()">
                        <div>
                            <img class="img-bene" src="assets/imgs/icons/volunteers.png">
                            <div class="text-admin">Bénévoles</div>
                        </div>
                    </button>
                </ion-col>
                <ion-col col-12 text-center *ngIf="(account.role == 'superadmin' || account.role == 'admin') && account.type !='community'">
                    <button ion-button color="white-color" round class="button-white button-setting" text-center
                        no-padding (click)="parameter()">
                        <div class="block-image"></div>
                        <div class="block-name">Paramètres</div>
                        <div class="block-icon">
                            <ion-icon name="ios-arrow-forward"></ion-icon>
                        </div>
                    </button>
                </ion-col>

            </ion-row>
        </ion-grid>

    </div>
    <div class="div-right"></div>
</ion-content>