page-select-city{
    // ----------------------------------------------------------------------------------
    // Page Styling
    // ----------------------------------------------------------------------------------
    .button-white {
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        width: 85%;
        height: 45px;
    }

    .scroll-content {
        margin-top: 0 !important;
        padding-top: 15px !important;
    }
    p{
        font-family: "Montserrat Medium";
        font-size: 15px;
    }
    .messagePopup{
        padding-left:20px;
    }
    h6 {
        font-weight: 600;
        color: color($colors, p-color);
    }
    // ----------------------------------------------------------------------------------
    // Buttons
    // ----------------------------------------------------------------------------------
    .close-btn {
        padding: 5px;
    }
    // ----------------------------------------------------------------------------------
    // Input
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Select
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // Item
    // ----------------------------------------------------------------------------------
    // ----------------------------------------------------------------------------------
    // class
    // ----------------------------------------------------------------------------------
    // customize icon for modal close action
    .material-icons {
        position: absolute;
    }

    .centred-block-text {
        display: block;
        text-align: center;
        padding: 0 25px;
    }

    .custom-button-action {
        width: 80%;
        background: color($colors, white-color);
        padding: 0px 5px;
        font-size: 18px;
        border-radius: 60px;
        color: color($colors, light-black);
    }
    .wishPublish{
        display: inline-block;
    }
    // class mobile
    // ----------------------------------------------------------------------------------
    @media (max-width: 1022px) {}
    // class desktop
    // ----------------------------------------------------------------------------------
    @media (min-width: 1023px) {
        .scroll-content {
            overflow-y: auto;
        }
    }

    .listScrolled{
        height: 210px;
        margin-bottom: 20px !important;
        margin-right: 20px;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar-thumb{
            background-color: color($colors, primary) !important;
        }
        &::-webkit-scrollbar-track{
            background-color: color($colors, checkbox) !important;
            box-shadow: none;
        }
        &::-webkit-scrollbar{
            background-color: color($colors, checkbox) !important;
            border-radius: 10px;
        }
    }
    .item-radio{
        background-color: transparent;
    }
    .checkbox-icon,.radio-icon {
        background: color($colors, checkbox) !important;
        border: color($colors, checkbox) !important;
        border-radius: 2px !important;
        width: 16px;
        height: 16px;
    }
    .checkbox-icon.checkbox-checked,.radio-icon.radio-checked {
        background: color($colors, primary) !important;
        border: color($colors, primary) !important;
    }
    .checkbox-icon.checkbox-checked,.radio-icon.radio-checked {
        background: color($colors, primary) !important;
        border: color($colors, primary) !important;
        .checkbox-inner{
            border: none !important;
        }
    }

    .scrollRow{
        width:80%;
    }
    ion-item{
        border: none !important;
    }
    .listScrolled .item-inner{
        display: inline-block;
        .input-wrapper{
            display: inline-flex;
            width: 80%;
            ion-label{
                margin-top: 9px;
                width: 100%;
                text-align: left;
            }
        }
        ion-radio.radio{
            display: inline-flex;
            float: left;
        }
    }
    .search-input{
        margin-left: 35px;  
    }
    .search-icon {
        margin-left: 15px;
        margin-top: 5px;
    }
    .radio-icon{
        left: 0px;
        top: 6px;
        position: absolute;
        background: color($colors, checkbox) !important;
        border: color($colors, checkbox) !important;
        border-radius: 2px !important;
        width: 16px !important;
        height: 16px !important;
    }
    .radio-md .radio-icon {
        border-width: 0px !important;
    }
    .radio-item{
        margin-left: 13px;
    }
    .radio-item.item-md{
        margin-left: 20px;
    }
    .radio-label{
        margin-left: 10px !important;
        margin-top: 5px;
    }
    .item-radio-checked.item-ios ion-label {
        color: black;
    }
    .item-radio-checked.item-md ion-label {
        color: black;
    }
    .radio-icon.radio-checked {
        background: color($colors, primary) !important;
        border: color($colors, primary) !important;
        width: 16px;
        height: 16px;
        border-radius: 2px !important;
        .radio-inner{
            border: none !important;
        }
    }

}
