<!--
  Generated template for the ListEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mobile-header" *ngIf="appGlobals.token">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <div class="item">
                    <ion-icon name="ios-arrow-back" (click)="goBack()"></ion-icon>
                </div>
            </ion-col>
            <ion-col col-8 text-center class="page-title">
                <ion-icon name="md-calendar"></ion-icon>
                <ion-title>Les événements</ion-title>
            </ion-col>
            <ion-col col-2>
                <div class="item" text-right>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <div class="div-left">
        <div text-right class="back"><img src="assets/imgs/icons/1.png" (click)="goBack()"></div>
    </div>
    <div class="div-center">
        <ion-refresher (ionRefresh)="doRefreshAgenda($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-grid class="grid-bottom">
            <ion-row>
                <div class="agenda-container" *ngFor="let itemDate of itemsDates; let idx = index">
                    <ion-card>
                        <ion-card-header>
                            <strong class="title-date">{{itemDate.key| amLocale:'fr' | amDateFormat:' Do MMMM'}}</strong>
                            <p class="title-day" text-capitalize> {{itemDate.key| amLocale:'fr' | amDateFormat:'dddd'}}
                            </p>
                        </ion-card-header>
                        <ion-card-content *ngFor="let item of itemDate.value">
                            <!--<button (click)="editEvent(item);">
                                <ion-icon name="md-create"></ion-icon>
                            </button>-->

                            <ion-row class="event-item" >
                                <ion-col col-3 (click)="detailsEvent(item, false)">
                                    <span class="start-hour">{{item.startAt| amLocale:'fr' |
                                        amDateFormat:'HH'}}h{{item.startAt| amLocale:'fr' | amDateFormat:'mm'}}</span><br>
                                    <img *ngIf="item.private" float-end class="move lock-icons" src="assets/imgs/icons/lock.png" alt="NOUS-Ensemble" />

                                </ion-col>
                                <ion-col col-6 (click)="detailsEvent(item, false)">
                                    <div class="bottom-margin-8"><strong class="event-title">{{item.title}}</strong></div>
                                    <p text-capitalize class='AssoTitle'>
                                        {{item.creatorName}}
                                    </p>
                                    <strong>à {{item.cityName}}</strong>
                                </ion-col>
                                <ion-col col-3 >
                                    <div *ngIf="(item.imageURL && !item.images) || (item.images && !item.imageURL && item.images.length == 1); else elseBlock"
                                         class="home-card-slides img-div" (click)="detailsEvent(item, false)">
                                        <div class="img-div" *ngIf="item.imageURL">
                                            <img class="img-div" data-src="{{item.imageURL}}" imageViewer>
                                        </div>
                                        <div class="img-div" *ngFor="let img of item.images">
                                            <img class="img-div" data-src="{{img.url}}" imageViewer>
                                        </div>
                                    </div>
                                    <ng-template #elseBlock>
                                        <ion-slides class="home-card-slides" autoplay="5000" loop="true" pager>
                                            <ion-slide class="img-div" *ngIf="item.imageURL">
                                                <img class="img-div" data-src="{{item.imageURL}}" imageViewer>
                                            </ion-slide>
                                            <ion-slide class="img-div" *ngFor="let img of item.images">
                                                <img class="img-div" data-src="{{img.url}}" imageViewer>
                                            </ion-slide>
                                        </ion-slides>
                                    </ng-template>
                                    <ion-fab  float-end *ngIf="account.role !='member' && item.type != 'survey'">
                                        <button ion-fab clear>
                                            <ion-icon name="md-more" float-end></ion-icon>
                                        </button>
                                        <ion-fab-list side="left">
                                            
                                            <button ion-fab (click)="editEvent(item);" *ngIf="!item.hasParent">
                                                <ion-icon name="md-create"></ion-icon>
                                            </button>
                                            <button ion-fab (click)="editeNotParent(item);" *ngIf="item.hasParent">
                                                <ion-icon name="md-create"></ion-icon>
                                            </button>


                                            
                                            <button ion-fab (click)="deleteEventAlert(item);" *ngIf="!item.isParent && !item.hasParent">
                                                <ion-icon name="md-trash"></ion-icon>
                                            </button>

                                            <button ion-fab (click)="supprimerNotParent(item);" *ngIf="item.hasParent">
                                                <ion-icon name="md-trash"></ion-icon>
                                            </button>
                                            <button ion-fab>
                                                <ion-checkbox [(ngModel)]="item.enabled" (ionChange)="updateStatus(item)"></ion-checkbox>
                                            </button>
                                        
                                        </ion-fab-list>
                                    </ion-fab>
                                </ion-col>
                            </ion-row>
                            <ion-col col-12 text-center>
                                <p text-center>
                                <span style="display: -webkit-inline-box;" text-center="">
                                <p class="numberParagraph">{{item.needCarpool.length}} covoiturages </p><img alt="NOUS-Ensemble" class="dot-icon" src="assets/imgs/icons/dot.png">
                                <p class="numberParagraph">{{item.nbParticipants}} participants</p> <img alt="NOUS-Ensemble" class="dot-icon" src="assets/imgs/icons/dot.png">
                                <p class="numberParagraph">{{item.nbCarpoolUsers}} transportés</p>
                                    </span>
                                </p>

                            </ion-col>
                            <ion-row text-center style="margin-left: 9%;">
                                <ion-col col-2 (click)='showHideProposeCarpooling(item)'  style="margin-top: 2%;">
                                    <img alt="NOUS-Ensemble" class="agenda-icons icons-car" src="assets/imgs/icons/car.png">
                                </ion-col>
                                <ion-col col-2 (click)='showHideNeedCarpooling(item)'>
                                    <img alt="NOUS-Ensemble" class="agenda-icons" src="assets/imgs/icons/covoit.png">
                                </ion-col>

                                <ion-col col-3 (click)='showAgendaBenevole(item)'>
                                    <img alt="NOUS-Ensemble" class="agenda-icons" src="assets/imgs/icons/benevole.png">
                                </ion-col>
                                <ion-col col-2>
                                    <img alt="NOUS-Ensemble" class="agenda-icons icons-stars" *ngIf="item.isParticipated" (click)="cancelParticipation(item)"
                                         src="assets/imgs/icons/star-full.png">
                                    <img alt="NOUS-Ensemble" class="agenda-icons icons-stars" *ngIf="!item.isParticipated" (click)="showHidePutAgenda(item)"
                                         src="assets/imgs/icons/star-empty.png">
                                </ion-col>
                                <ion-col col-2 (click)="ShareArticle(item);" style="margin-top: 2%;">
                                    <img alt="NOUS-Ensemble" class="agenda-icons" src="assets/imgs/icons/share.png">
                                </ion-col>
                            </ion-row>

  

                        </ion-card-content>
                    </ion-card>


                </div>
                <ion-col col-12 text-center *ngIf="itemsDates.length == 0">
                    <p text-center class="no-result"> Pas de résultat correspondant à votre filtre.</p>
                </ion-col>

                <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-row>
        </ion-grid>

    </div>
    <div class="div-right" text-center>

    </div>
</ion-content>