<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class="mobile-header" *ngIf="appGlobals.token">
    <ion-grid>
        <ion-row>
            <ion-col col-2 text-left>
                <div class="item" (click)="goBack()">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </div>
            </ion-col>
            <ion-col col-8 text-center class="page-title">
                <ion-title>Grands projets dans ma ville</ion-title>
            </ion-col>
            <ion-col col-2 text-right>
                <div class="block-image" *ngIf="currentUser && currentUser.cityhall">
                    <img *ngIf="currentUser.cityhall.image_url" src="{{currentUser.cityhall.image_url}}" class="user-img">
                    <img *ngIf="!currentUser.cityhall.image_url" src="assets/imgs/icons/user_default.png" class="user-img">
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content text-center>
    <div class="div-left">
        <div text-right class="back"><img src="assets/imgs/icons/1.png" (click)="goBack()"></div>
    </div>
    <div class="div-center">
        <ion-grid class="grid-bottom">
            <ion-row class="select-filters">
                <ion-col>
                    <ion-select text-center class="select-fitler select-not-ie" placeholder="Votre Ville" [(ngModel)]="city"
                        (ionChange)="filterCities()" multiple submitText="Ok" cancelText="Annuler">
                        <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
                    </ion-select>
                    <select text-center class="select-fitler select-ie" placeholder="Votre Ville" [(ngModel)]="city"
                        multiple>
                        <option *ngFor="let city of cities" (click)="filterCities()" value="{{city.id}}">{{city.name}}</option>
                    </select>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-card *ngFor="let item of items">
            <ion-card-content>
                <ion-card-title text-left *ngIf="item.type == 'cityhall'"> {{item.cityhallName}} </ion-card-title>

                <p text-left>
                    <span (click)="detailsArticle(item);">
                        {{item.createAt | capitalize| amLocale:'fr' | amTimeAgo}}
                    </span>
                    <ion-icon class="icon-agenda move" name="md-calendar" float-end *ngIf="item.event" (click)="detailsEvent(item.event, item.title, false)"></ion-icon>
                    <span *ngIf="item.type == 'cityhall' && item.city">à {{item.city}}</span>
                </p>



                <!--<img src="" (click)="publish()">-->
                <div *ngIf="item.imageURL || item.images">
                    <div *ngIf="(item.imageURL && !item.images) || (item.images && !item.imageURL && item.images.length == 1); else elseBlock">
                        <div *ngIf="item.imageURL" (click)="detailsArticle(item);">
                            <img data-src="{{item.imageURL}}">
                        </div>
                        <div *ngFor="let img of item.images" (click)="detailsArticle(item);">
                            <img data-src="{{img.url}}">
                        </div>
                    </div>

                    <ng-template #elseBlock>
                        <ion-slides loop="true" pager>
                            <ion-slide *ngIf="item.imageURL" (click)="detailsArticle(item);">
                                <img data-src="{{item.imageURL}}">
                            </ion-slide>
                            <ion-slide *ngFor="let img of item.images" (click)="detailsArticle(item);">
                                <img data-src="{{img.url}}">
                            </ion-slide>
                        </ion-slides>
                    </ng-template>
                </div>
                <ion-card-title class="title-article" text-left>
                    <div class="div-title" (click)="detailsArticle(item);">{{item.title}}</div>
                    <ion-icon name="md-create" class="icon-create" float-end *ngIf="currentUser.id == item.userId"
                        (click)="editArticle(item, item.type, item.userId)"></ion-icon>
                </ion-card-title>

                <p text-left [innerHtml]="item.description|truncate|nl2br" (click)="detailsArticle(item);"></p>
            </ion-card-content>
            <ion-row padding-bottom>
                <ion-col class="no-padding " text-right>
                    <button ion-button clear small color="primary" icon-start (click)="detailsArticleComment(item);">
                        <span class="comments-nbr">{{item.nbreComments}}</span>
                        <img class="news-comment-action move-icon" src="assets/imgs/icons/comments.png">

                    </button>
                </ion-col>
                <ion-col class="no-padding " text-left>
                    <button ion-button clear small color="primary" icon-start>
                        <img class="news-comment-action" *ngIf="!item.isLiked" src="assets/imgs/icons/dislike.png"
                            (click)="like(item.id);">
                        <img class="news-comment-action" *ngIf="item.isLiked" src="assets/imgs/icons/like.png" (click)="unlike(item.id);">
                        <span class="likes-nbr"> {{item.nbLikes}}</span>

                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Charger plus...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div class="div-right">
    </div>
</ion-content>