page-forget-password {
    .forgot-label{
        text-align: left;
        padding-left: 40px !important;
    }
    .scroll-content {
        margin-top: 0 !important;
        background: color($colors, white-color);
    }
    .register-title {
        width: 100%;
        background: color($colors, primary);
        padding: 10px;
        border-radius: 30px;
        color: color($colors, white-color);
        font-size: 18px;
    }
    .img-cloud {
        width: 90px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .notice-register {
        margin-top: 15px;
    }
    form {
        width: 100%;
    }

    .col-img {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .log-heading {
        margin-top: 1em !important;
    }
    .img-bottom{
        //position: fixed;
        bottom:0px;
        width:100%;
        //margin-left: -16px;
    }
    .col ion-label{
        padding-left:0px
    }
    // class mobile
    // ----------------------------------------------------------------------------------
    @media (max-width: 736px) {
        .img-logo {
            width: 20%;
        }
    }
    // class desktop
    // ----------------------------------------------------------------------------------
    @media (min-width: 737px) {
        .img-logo {
            width: 10%;
        }

    }

    @media (min-width: 1023px) {
        .img-logo {
            width: 10%;
        }
        .grid {
            width:466px;
        }

    }
}