<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <div class="div-left">
    </div>
    <div class="div-center">
        <div class="back-page" (click)="loginPage()">
            <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </div>
        <ion-grid class="no-padding">
            <ion-row>
                <ion-col text-center>
                    <img class="img-logo" src="assets/imgs/icons/logo-simple.png" alt="NOUS-Ensemble">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="no-padding  col" col-12="" text-center="">
                    <h4 class="log-heading"> Mot de passe oublié </h4>
                </ion-col>
            </ion-row>
            <ion-row text-center>
                <form [formGroup]="forgetPasswordForm" novalidate>
                    <ion-row>
                        <ion-col>
                            <ion-label class="forgot-label" color="light-black" stacked>Adresse e-mail</ion-label>
                            <ion-item text-center [class.formError]="( forgetPasswordForm.get('email').hasError('required') || forgetPasswordForm.get('email').hasError('email') ) && submited">
                                <ion-input type="email" id="email" name="email" required [(ngModel)]="user.email"
                                    formControlName="email"></ion-input>
                            </ion-item>
                            <div class="error-msg" *ngIf="forgetPasswordForm.get('email').hasError('required') && submited">
                                <span class="error">Veuillez indiquer votre email</span>
                            </div>
                            <div class="error-msg" *ngIf="forgetPasswordForm.get('email').hasError('email') && !forgetPasswordForm.get('email').hasError('required') && submited">
                                <span class="error">Veuillez indiquer un email valide</span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="padding-horizontal">
                        <ion-col class="col-submit" col-12 text-center>
                            <button ion-button color="primary" round class="button-big" (click)="resetForgetedPassword(forgetPasswordForm.invalid)">Valider</button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="padding-horizontal">
                        <ion-col class="col-img" text-center>

                        </ion-col>
                    </ion-row>
                </form>
            </ion-row>
            <img class="img-bottom" src="assets/imgs/forget-password.png" alt="NOUS-Ensemble" class="img-bottom"/>
        </ion-grid>
    </div>
    <div class="div-right">
    </div>

</ion-content>